/* GLOBAL COLORS - FONTS - MARGIN */
:root {
  --primary-color: #74c69d;
  --secondary-color: #212529;
  --white: #fff;
}

html,
body {
  font-size: 16px;
  margin: 0;
}

h1 {
  font-family: 'Crimson Text', Arial, sans-serif;
  font-size: 2.5rem;
  margin: 1rem 0;
}

h1,
.sub-heading,
.label,
.body-regular {
  line-height: 125%;
}

.header-section {
  margin-bottom: 1.875rem;
}

.sub-heading,
.label,
.body-regular {
  font-family: 'Work Sans', Arial, sans-serif;
}

.sub-heading,
.fa-brands {
  font-size: 1.25rem;
}

.logo-name {
  font-size: 2.5rem;
}

.label {
  font-size: 1rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  font-weight: bold;
}

.body-regular {
  font-size: 0.9375rem;
}

.header-section-container,
.content-section,
.button-section,
.footer-container {
  width: 73.75rem;
}

.header-section-container,
.content-section {
  margin: 0 auto;
}

.header-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* GLOBAL FORMAT - HEADER AND FOOTER */
.header-section,
.footer-section,
.fa-brands {
  color: var(--white);
  background-color: var(--primary-color);
}

.header-section-container,
.logo-container,
.main-menu-items,
.page-name-section,
.footer-container,
.social-icons {
  display: flex;
}

/* header section */
.header-section {
  justify-content: space-between;
  align-items: center;
  padding-top: 2.1875rem;
  padding-bottom: 2.375rem;
  padding-left: 8.4375rem;
  padding-right: 8.125rem;
}

/* GLOBAL FORMAT - LOGO SECTION */
.logo-container {
  align-items: center;
  gap: 1.125rem;
  width: 11.6875rem;
}

/* GLOBAL FORMAT - MAIN MENU SECTION */
.main-menu-container {
  width: 24.4375rem;
}

.main-menu-items {
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

.home-menu-link,
.portfolio-menu-link,
.services-menu-link,
.contact-menu-link {
  text-decoration: none;
  color: var(--white);
}

/* GLOBAL FORMAT - MAIN SECTION */
.page-name-section {
  justify-content: center;
  margin-bottom: 5.125rem;
}

.page-name-container {
  width: 25.6875rem;
  text-align: center;
}

.label {
  color: var(--primary-color);
}

/* GLOBAL BUTTONS */
.button-section {
  text-align: center;
}

.secondary-button {
  padding-top: 0.8125rem;
  padding-bottom: 0.625rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  border-radius: 0.3125rem;
  border: 0;
  color: var(--white);
  background-color: var(--secondary-color);
}

/* GLOBAL FOOTER */
.footer-container {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 3.1875rem;
  padding-bottom: 3.0625rem;
  padding-left: 8.1875rem;
  padding-right: 8.1875rem;
}
.social-icons {
  justify-content: space-between;
  width: 15.1875rem;
}
