@import url(../styles/style.css);

/* BANNER SECTION */
.banner-section {
  display: flex;
  justify-content: space-between;
  width: 1180px;
  margin: 0 auto 60px auto;
  padding-top: 40px;
  padding-bottom: 83px;
}

.banner-content-container {
  width: 416px;
}

.banner-content-container .label,
.banner-content-container .banner-title {
  color: var(--white-color-100);
}

.banner-title,
.small-banner-title {
  font-size: 40px;
}

.small-banner-title,
.small-banner-text {
  margin: 0 0 16px 0;
}

.banner-text {
  margin-bottom: 25px;
  color: var(--white-color-75);
}

.banner-button {
  padding: 13px 48px 10px 48px;
  border: none;
  border-radius: 5px;
  color: #000;
  background-color: var(--white-color-100);
}

.banner-image-container {
  width: 644px;
}

/* MAIN SECTION */
.page-name-section,
.small-banner1-section {
  margin-bottom: 73px;
}

.partners-section {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 55px;
}

.button-section {
  margin-bottom: 99px;
  text-align: center;
}

.secondary-button {
  padding: 13px 29.5px 10px 29.5px;
  border-radius: 5px;
  color: var(--white-color-100);
  background-color: var(--secondary-color-100);
}

/* small banners section */
.small-banner1-section,
.small-banner2-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-banner2-section {
  margin-bottom: 103px;
}

.small-banner-img {
  width: 600px;
}

.small-banner-content {
  width: 470px;
}

.small-banner-text {
  color: var(--secondary-color-50);
}

/* Our talents section */
.our-talents-text-container {
  margin-bottom: 45px;
}

.our-talents-text-container h2 {
  margin-bottom: 16px;
}
