@import url(../styles/style.css);

/* BANNER SECTION */
.banner-section {
  display: flex;
  justify-content: space-between;
  width: 1180px;
  margin: 0 auto 60px auto;
  padding-top: 40px;
  padding-bottom: 83px;
}

.banner-content-container {
  width: 416px;
}

.banner-content-container .label,
.banner-content-container .banner-title {
  color: var(--white-color-100);
}

.banner-title,
.small-banner-title {
  font-size: 40px;
}

.small-banner-title,
.small-banner-text {
  margin: 0 0 16px 0;
}

.banner-text {
  margin-bottom: 25px;
  color: var(--white-color-75);
}

.banner-button {
  padding: 13px 48px 10px 48px;
  border: none;
  border-radius: 5px;
  color: #000;
  background-color: var(--white-color-100);
}

.banner-image-container {
  width: 644px;
}

/* MAIN SECTION */
.page-name-section,
.small-banner1-section {
  margin-bottom: 73px;
}

.partners-section {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 55px;
}

.secondary-button {
  padding: 13px 29.5px 10px 29.5px;
  border-radius: 5px;
  color: var(--white-color-100);
  background-color: var(--secondary-color-100);
}

/* small banners section */
.small-banner1-section,
.small-banner2-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-banner2-section {
  margin-bottom: 103px;
}

.small-banner-img {
  width: 600px;
}

.small-banner-content {
  width: 470px;
}

.small-banner-text {
  color: var(--secondary-color-50);
}

/* Our talents section */
.our-talents-section {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  margin-bottom: 54px;
}

.our-talents-text-container {
  width: 411px;
  text-align: center;
}

.talents-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 47px;
}

.talent-cart {
  padding: 20px 40px;
  border-radius: 5%;
  box-shadow: 3px 4px 12px 1px var(--secondary-color-25);
}

.talent-img-wrapper {
  height: 175px;
  width: 175px;
  margin: 0 13px;
  overflow-y: hidden;
  text-align: center;
  border: 1px solid #000;
  border-radius: 50%;
}

.talent-img-wrapper img {
  width: unset;
  margin-top: 12px;
}

.our-talents-text-container h2 {
  margin-bottom: 16px;
}

.talent-cart p {
  margin: 0;
  text-transform: uppercase;
  color: var(--secondary-color-75);
}
