.portfolio-section {
  display: grid;
  grid-template-columns: 570fr 555fr;
  gap: 55px;
  margin-bottom: 64px;
}

figure {
  margin: 0;
}

.portfolio-button-section {
  margin-bottom: 99px;
}

.secondary-button {
  padding: 13px 29.5px 10px 29.5px;
  border-radius: 5px;
  color: var(--white-color-100);
  background-color: var(--secondary-color-100);
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .portfolio-section {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 568px) {
  .portfolio-section {
    width: 320px;
  }

  figure {
    width: 320px;
  }
}
