.portfolio-section {
  display: grid;
  grid-template-columns: 570fr 555fr;
  justify-items: center;
  gap: 55px;
}

img {
  width: 100%;
}

.button-section {
  margin-top: 64px;
  margin-bottom: 99px;
  text-align: center;
}

.secondary-button {
  padding: 13px 29.5px 10px 29.5px;
  border-radius: 5px;
  color: var(--white-color-100);
  background-color: var(--secondary-color-100);
}
