/* PAGE RESET */
p {
  padding: 0;
  margin: 0;
}

/* PAGE STYLES */
.page-name-section {
  margin-bottom: 78px;
}

.price-plan-container {
  max-width: 339px;
  padding: 46px 30px;
}

.price-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin-bottom: 10px;
}

.price-number {
  font-size: 2.5rem;
  font-weight: bold;
}

.price-period,
.price-info-text {
  color: var(--secondary-color-50);
}

.price-info-text {
  text-align: center;
}
