:root {
  --primary-color: rgb(116, 198, 157);
  --primary-color-75: var()
  --secondary-color: rgb(33, 37, 41);
  --white-color: rgb(255, 255, 255);
  font-size: 16px;
}

/* GLOBAL STYLES */
body {
  font-family: 'Work Sans', Arial, sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Crimson text', Arial, sans-serif;
}

header,
footer {
  background-color: var(--primary-color);
}

/* GLOBAL HEADER SECTION*/
.header-section-container{
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 38px;
  padding-left: 135px;
  padding-right: 130px; /*временно се слагат падинги в ляво и дясно. После ще се оправят по друг начин*/
}

/* logo */
.logo-container{
  display: flex;
  gap: 18px;
  align-items: center;
  width: 187px;

}
.logo-name{
  font-size: 40px;
  font-weight: normal;
  line-height: 125%;
  color: var(--white-color)
}

/* main menu */
.main-menu-container{
  width: 391px;
}

.main-menu-items{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.main-menu-items a{
  font-size: 20px;
  line-height: 125%;
  text-decoration: none;
  color: var(--white-color);
}